.transition-liner {
  transition: 0.2s linear;
}

.auther-hover {
  .auther {
    transition: 0.1s ease-out;
  }

  &:hover {
    .auther {
      bottom: 0;
    }
  }
}

.categories-nav {
  &.active {
    color: #00acef;
  }
}

.user-background {
  background: linear-gradient(187deg, #282626 5.81%, #161515 94.51%);
}

.svg-blue {
  path {
    transition: 0.2s linear !important;
    fill: #00acef;
  }
}
